h1{
    color:darkblue;
    text-align: center;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600;
    width: 500;
    background-color: aquamarine;
    padding: 50px;
    border: 10px solid black;
    margin: 0 auto;
}

#spanId{
    font-size: 18px;
    margin: 50px;
    text-align: center;
}

.divClass {
    text-align: center;
}

body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/309/794/large_2x/geometric-white-background-free-vector.jpg");
}